@model List<Category>

<div class="container admin-header">
    <h2>Category List</h2>

    <button class="btn btn-primary shadow-soft"
            onclick="openAdminModal('/admin/category/upsert')">
        <i class="bi bi-plus-circle"></i> Create Category
    </button>
</div>

<table id="tableCategory" class="table table-bordered table-hover align-middle table-striped">
     <thead>
          <tr>
               <th>Category Name</th>
               <th>Display Order</th>
               <th></th>
          </tr>
      </thead>
</table>
