@model List<Product>

<div class="container admin-header">
    <h2>Product List</h2>

    <button class="btn btn-primary shadow-soft"
            onclick="openAdminModal('/admin/product/upsert')">
        <i class="bi bi-plus-circle"></i> Create New Product
    </button>
</div>
<table id="tableProduct" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Author</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
</table>
